.lyt-beOurGuest {
    .guest-wrap {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5rem;
        @media only screen and (max-width: $media-sm) {
            margin-top: 3rem;
        }
    }
    .cp-guest-card {
        width: 38.3rem;
        margin: 0 0.3% 4rem;
        @media only screen and (max-width: $media-sm) {
            width: 100%;
            margin-bottom: 2rem;
        }
        .img-wrap {
            @media only screen and (max-width: $media-sm) {
                width: 29.5rem;
                height: 18.1rem;
            }
        }
    }
}